<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwp.repo.mybatis.mappers.GoodsMapper">

    <resultMap id="skGoodsResultMap" type="com.zwp.comm.vo.SkGoodsVo">
        <id column="goods_id" property="goodsId"/>
        <result column="goods_name" property="goodsName"/>
        <result column="goods_sk_price" property="goodsSkPrice"/>
        <result column="goods_sk_stock" property="goodsSkStock"/>
        <result column="goods_sk_cur_stock" property="goodsSkCurStock"/>
        <result column="sk_start_time" property="startTime"/>
        <result column="sk_end_time" property="endTime"/>
        <result column="goods_detail" property="goodsDetail"/>
        <result column="goods_img" property="goodsImgPath"/>
        <result column="goods_price" property="goodsPrice"/>
        <result column="goods_stock" property="goodsStock"/>
    </resultMap>

    <sql id="TABLE_NAME_SK_GOODS">sk_goods</sql>
    <sql id="TABLE_NAME_GOODS_DETAIL">goods_detail</sql>
    <sql id="TABLE_PARAM_SK_GOODS">
        goods_name, goods_sk_price,goods_sk_stock,goods_sk_cur_stock,
        sk_start_time,sk_end_time
    </sql>
    <sql id="TABLE_PARAM_GOODS_DETAIL">
        goods_id,goods_name, goods_detail,goods_img,goods_price,goods_stock
    </sql>
    <sql id="TABLE_PARAM_ALL">
        sg.goods_id,sg.goods_name,
        goods_sk_price,goods_sk_stock,
        goods_sk_cur_stock,sk_start_time,sk_end_time,
        goods_detail,goods_img,goods_price,goods_stock
    </sql>
    <select id="selectSkGoodsList" resultMap="skGoodsResultMap">
        SELECT * FROM
        <include refid="TABLE_NAME_SK_GOODS"/>
    </select>


    <insert id="insertSkGoods" parameterType="com.zwp.comm.vo.SkGoodsVo"
            useGeneratedKeys="true" keyColumn="goods_id" keyProperty="goodsId" >
        INSERT INTO <include refid="TABLE_NAME_SK_GOODS"/>
        (<include refid="TABLE_PARAM_SK_GOODS"/>)
        VALUES (
            #{goodsName},#{goodsSkPrice},#{goodsSkStock},#{goodsSkCurStock},
            #{startTime},#{endTime}
        )
    </insert>

    <!--  注意在GoodsDetail 表中的good_id 必须与 sk_goods 中的goods_id 对应 -->
    <insert id="insertSkGoodsDetail" parameterType="com.zwp.comm.vo.SkGoodsVo">
        INSERT INTO <include refid="TABLE_NAME_GOODS_DETAIL"/>
        (<include refid="TABLE_PARAM_GOODS_DETAIL"/>)
        VALUES (
        #{goodsId},#{goodsName},#{goodsDetail},#{goodsImgPath},#{goodsPrice},#{goodsStock}
        )
    </insert>


    <select id="selectSkGoodsDetailByGoodsId" resultMap="skGoodsResultMap">
    SELECT <include refid="TABLE_PARAM_ALL"/> FROM
        (SELECT * FROM <include refid="TABLE_NAME_SK_GOODS"/>
            WHERE goods_id = #{goodsId} LIMIT 1) as sg
        LEFT JOIN
        (SELECT * FROM <include refid="TABLE_NAME_GOODS_DETAIL"/>
            WHERE goods_id = #{goodsId} LIMIT 1) as gd
        ON (sg.goods_id = gd.goods_id);
    </select>

</mapper>