<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zwp.repo.mybatis.mappers.LogonMapper">

    <sql id="TABLE_NAME">user_account</sql>
    <sql id="PARAM_LIST">user_id,user_name,user_password,user_pass_salt,
                            user_role,user_status,user_reg_time</sql>

    <insert id="saveUserAccount" parameterType="com.zwp.comm.vo.UserAccountVo">
        INSERT IGNORE INTO
        <include refid="TABLE_NAME"/> (<include refid="PARAM_LIST"/>)
        VALUES
        (#{userId},#{username},#{password},
        #{salt},#{role},#{status},#{regTime})
    </insert>


</mapper>